<div class='cancel-div'>
	<a class="idContainerValue" target="blank" href="https://findly.tpondemand.com/entity/{{dataId}}">
		<span>#{{dataId}}</span>
	</a> 
	<span class="cancel-message">changed State to <span class="highligthed">{{newState}}</span></span>
	<div class='cancel-action'>
		<div class="sameline-block cancel-task">
			<div class="cancel-label highligthed">Cancel</div>
			<img class="sameline" src='img/cancel.png'/>
		</div>
		<div class="sameline-block done-task">
			<img class="sameline" src='img/ok.png'/>
			<div class="done-label highligthed">Done</div>
		</div>
	</div>
	<div class="ticket-status">&nbsp;</div>
</div>