<span class="cancel-message">Operation cancelled. Refresh the page to see all entities</span>
	<div class="sameline-block done-task">
	<img class="sameline" src='img/ok.png'/>
	<div class="done-label">Done</div>
</div>